{% extends 'miaplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Categorias
{% endblock titulo %}


{% block cabecera %}
    Listado de Categorías
{% endblock cabecera %}

{% block contenido %}
<table class = "table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>RedSocial</th>
            <th>Autor</th>
            
        </tr>
    </thead>
    <tbody>
    {% for categoria in categorias  %}
    <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.redsocial }}</td>
        <td>{{ categoria.autorpublica }}</td>
        
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}