{% extends 'miaplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Posteos
{% endblock titulo %}

{% block cabecera %}
    Listado de Posteos
{% endblock cabecera %}

{% block contenido %}
<table class = "table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>RedSocial</th>
        </tr>
    </thead>
    <tbody>
    {% for posteo in posteos  %}
    <tr>
        <td>{{ posteo.id }}</td>
        <td>{{ posteo.nombre }}</td>
        <td>{{ posteo.categoria }}</td>
        <td>{{ posteo.redsocial }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}