{% extends 'miaplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Busqueda email
{% endblock titulo %}

{% block cabecera %}
Resultado: busqueda del mail {{ email }}
{% endblock cabecera %}

{% block contenido %}  
        <table class = "table">
            </thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in user %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock contenido %}


